form input {
width: 200px;
}

.mygtukai button {
    width: 208px;
    margin-top: 10px;
    height: 20px;
}

table, th, td{
    width: 630px;
    margin: 20px 0;
    border: 1px solid gold;
    border-top: 0;
    border-collapse: collapse;
}
table th {
    height: 50px;
    background: gold;
}
table th:nth-of-type(2) {
    background: goldenrod;
}
table td {
    background: darkslateblue;
    height: 50px;
    color: white;
    padding-left: 15px;
}